# airflow-related resources
airflow.db
airflow-*.pid
logs

# GTFS pipeline
pipeline-data/*
!pipeline-data/README.md

# database-related data
database-data/*

# other resources
.idea
*.pyc
__pycache__
*.iml
target
